/* Error: Missing argument $channels.
 *    ,
 * 40 | $gcol-6 : rgba();
 *    |           ^^^^^^
 *    '
 *   scss/utilities/_variables.scss 40:11  @import
 *   scss/utilities/_index.scss 5:9        @import
 *   scss/styles.scss 9:9                  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Missing argument $channels.\a    \2577 \a 40 \2502  $gcol-6 : rgba();\a    \2502            ^^^^^^\a    \2575 \a   scss/utilities/_variables.scss 40:11  @import\a   scss/utilities/_index.scss 5:9        @import\a   scss/styles.scss 9:9                  root stylesheet";
}
