/* Error: No argument named $fd.
 *    ,
 * 36 | /   @include mq($min-w:768px, $margin: 0 50px 0 0, $fd: column){
 * 37 | |     max-width: 750px;
 * 38 | \   }
 *    '
 *   scss/components/_typography.scss 36:3  mq()
 *   scss/components/_typography.scss 36:3  @import
 *   scss/components/_index.scss 9:9        @import
 *   scss/styles.scss 14:9                  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: No argument named $fd.\a    \2577 \a 36 \2502  \250c    @include mq($min-w:768px, $margin: 0 50px 0 0, $fd: column){\a 37 \2502  \2502      max-width: 750px;\a 38 \2502  \2514    }\a    \2575 \a   scss/components/_typography.scss 36:3  mq()\a   scss/components/_typography.scss 36:3  @import\a   scss/components/_index.scss 9:9        @import\a   scss/styles.scss 14:9                  root stylesheet";
}
