
///buttons background-color

@mixin btn($bgc) {
  @extend %#{$bgc}-btn;
}


///font-sizes in em

@mixin f-size($fz){
  font-size: #{$fz}em;
}

///background-color
@mixin bgc($bgc){
  background-color: $bgc;
}

///colors
@mixin c($c){
  color: $c;
}


/////////////////////////////////////
//          media queries          //
////////////////////////////////////

@mixin mq($mw, $justify: space-between, $margin: 0 ){
  @media (min-width:$mw){
    display: flex;
    flex-direction: row;
    justify-content: $justify;
    margin: $margin;

  };
}
