%nav__item{
  background-color: $main-white;
  border-radius: $br;
  margin: 10px 0;
  text-align: center;
}

%link{
  color: $default-color;
}


%img{
  display: block;
  margin: 0 auto;
}

%btn{
  text-transform: uppercase;
  font-size: 0.7em;
  display: block;
  width: 100%;
  padding: 10px 0;
  margin: 20px 0;
  border-radius: $br;
  border-style: none;
  //color: $main-white;
  color:pink;
}
