
.img{

  &--logo{
    @extend %img;
    width: 130px;
  }
  &--frame{
    @extend %img;
    width: 90%;
    outline: 2px solid $main-grey;
    outline-offset: 10px;
  }
  &--avatar{
    @extend %img;
    margin-top: 40px;
  }
}
