.nav{
  @include mq(768px);
}


.nav__item{
  @extend %nav__item;
  &:hover{
    background-color: $main-green;
  }
  a{
    display: block;
    padding: 10px 0;
    color: $main-grey;
    &:hover{
      color: $main-white;
    }
  }
}
