.container{
  @include webfont;//dit klopt niet
  width: 90%;
  margin: 0 auto;
}

.link{
  @extend %link;
}

.blockquote{
  border-left: 5px solid $main-green;
  margin: 20px 40px 60px;
  padding-left: 10px;
  color: $main-grey;
  font-size: 1.3em;
  font-style: italic;

}

.headline--primary{
  font-size: 1.8em;
  color: $main-green;
}

.headline--secondary{
  color: $main-grey;
  font-size: 1em;
  font-weight: lighter;
}
